mat-form-field {
    width: 100%;
 }
 
 .typeField {
     width: 20%;
 }

 .nameField {
     width: 36%;
 }
 
 .gradeField {
     width: 28%;
 }

 .discountsField {
     width: 50%;
 }
 
 .idField {
     width: 80%;
 }

 .shortField {
     width: 50%;
 }

 button {
    height: 50px;
}
 