form {
    width: 330px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 90vh;
  }
  
  #form-content {
    width: 100%;
  }
  
  html {
    background-color: #f5f5f5;
  }
  
  .logo-img {
    width: 140px;
    margin: auto;
  }
  
  button {
    height: 50px;
  }
  
  