#solvencyBar {
    margin-top: 0px;
    margin-bottom: 2px;
  }

#findCustomer {
    margin-top: 2px;
}

.filter-field {
    width: 160px;
}

  .create-btn {
    height: 50px;
    margin-top: 0.3em !important;
  }

button {
    height: 50px;
    margin-top: 0.3em !important;
  }

  #action-buttons button,
  .action-button {
    margin-top: 0.3em !important;
    height: 50px;
    margin-left: 20px;
  }
  
  #action-buttons {
      margin-top: 2px;
  }

  .hide-section {
      display: none;
  }