button {
    height: 50px;
    margin-top: 0.3em !important;
  }

mat-form-field {
    width: 200px;
}
  
  #action-buttons button,
  .action-button {
    margin-top: 0.3em !important;
    height: 50px;
    margin-left: 20px;
  }
  
  #action-buttons {
      margin-top: 2px;
  }