<div id="container">
    <h1><mat-icon>payment</mat-icon> Ingresos</h1>
  <hr>
  <div class="row mb-3">
    <div class="col-6 d-flex flex-column text-center">
        <div><span class="number">{{ totalIncome[0] }} <span class="dollar-sign">$</span></span></div>
        <div class="heading"> {{ monthName[0] }} </div>
    </div>
    <div class="col-6 d-flex flex-column text-center">
      <div><span class="number">{{ totalIncome[1] }} <span class="dollar-sign">$</span></span></div>
      <div class="heading"> {{ monthName[1] }} </div>
  </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex flex-column text-center">
      <div><span class="number">{{ totalIncome[2] }} <span class="dollar-sign">$</span></span></div>
      <div class="heading"> {{ monthName[2] }} </div>
  </div>
  <div class="col-6 d-flex flex-column text-center">
    <div><span class="number">{{ totalIncome[3] }} <span class="dollar-sign">$</span></span></div>
    <div class="heading"> {{ monthName[3] }} </div>
  </div>
  </div>
  </div>
  